@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Lato', serif; }

html {
  scroll-behavior: smooth; }

nav {
  width: 100%;
  position: fixed;
  height: 64px;
  display: flex;
  justify-content: center;
  z-index: 10; }
  nav .nav-container {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Lato', serif;
    padding: 0px 25px; }
    @media screen and (max-width: 900px) {
      nav .nav-container {
        padding: 0px 35px; } }
  nav .nav-container > div:first-child p {
    font-family: 'Cinzel Decorative', cursive;
    color: aliceblue;
    font-size: 30px;
    font-weight: 400; }
    @media screen and (max-width: 900px) {
      nav .nav-container > div:first-child p {
        font-size: 18px; } }
  nav a {
    font-size: 13px;
    text-decoration: none;
    margin: 10px 16px;
    color: aliceblue; }
    nav a:hover {
      opacity: 0.7; }
    @media screen and (max-width: 900px) {
      nav a {
        display: none; } }

#banner {
  width: 100%;
  height: 100vh;
  background-image: url("../pictures/EveryComponents/Pics_rooms/Outdoors/makati-luxury-hotel-1500x835.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #banner .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3); }
  #banner h1 {
    z-index: 3;
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    line-height: 94px;
    color: #FFFFFF;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    margin-top: 30px;
    margin-bottom: 50px; }
    @media screen and (max-width: 900px) {
      #banner h1 {
        font-size: 30px;
        line-height: 54px; } }
  #banner #bookingtable {
    width: 100%;
    max-width: 950px;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    color: white;
    backdrop-filter: brightness(0.6) blur(2px);
    border: 1px solid gray;
    padding: 20px;
    font-size: 14px; }
    @media screen and (max-width: 900px) {
      #banner #bookingtable {
        flex-direction: column;
        width: 80%; }
        #banner #bookingtable .bbb {
          width: 100%;
          justify-content: space-between;
          margin: 0 0 12px 0; }
        #banner #bookingtable #box {
          display: flex;
          justify-content: center; } }
    #banner #bookingtable .bbb {
      display: flex;
      align-items: center; }
    #banner #bookingtable .date-selector {
      width: 150px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 0 15px;
      padding: 0px 15px;
      border: 1px solid gray;
      border-radius: 6px; }
    #banner #bookingtable .type-selector {
      width: 70px;
      height: 32px;
      margin: 0 0 0 15px;
      display: flex; }
      #banner #bookingtable .type-selector div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        border: 1px solid gray; }
      #banner #bookingtable .type-selector div:first-child {
        border-radius: 6px 0 0 6px; }
      #banner #bookingtable .type-selector div:last-child {
        border-radius: 0 6px 6px 0; }
    #banner #bookingtable .number-selector {
      margin: 0 0 0 15px; }
      #banner #bookingtable .number-selector input {
        width: 60px;
        text-align: center;
        background: none;
        border: none;
        color: white;
        border: 1px solid gray;
        border-radius: 6px;
        height: 28px; }
        #banner #bookingtable .number-selector input:hover, #banner #bookingtable .number-selector input:active {
          outline: none; }
    #banner #bookingtable .book {
      margin-left: 15px;
      background-color: #231f20;
      border: 1px solid rgba(223, 190, 106, 0.3);
      border-radius: 6px;
      transition: 0.4s ease-in-out;
      text-decoration: none; }
      #banner #bookingtable .book:hover {
        transform: scale(1.1); }
      #banner #bookingtable .book .book-hover {
        background: transparent;
        color: rgba(223, 190, 106, 0.7);
        background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
        background-position: 1% 50%;
        background-size: 300% 300%;
        border-radius: 6px;
        border: none;
        transition: all 0.4s ease-in-out;
        padding: 15px; }
      #banner #bookingtable .book .book-hover:hover {
        color: #fff;
        background-position: 100% 50%; }

#welcome .container {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #welcome .container > p:first-child {
    font-family: 'Parisienne', cursive;
    font-size: 120px;
    color: white;
    margin: 30px 0px; }
  #welcome .container > p:last-child {
    font-family: 'Parisienne', cursive;
    font-size: 26px;
    color: white;
    line-height: 41px;
    text-align: center; }

#about_01 {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center; }
  #about_01 .box_1 {
    display: flex;
    max-width: 1400px; }
    #about_01 .box_1 .box_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 700px;
      margin-right: 50px; }
      #about_01 .box_1 .box_left > h1 {
        font-family: 'Cinzel', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 54px;
        color: #C8B26A;
        margin-bottom: 10px; }
      #about_01 .box_1 .box_left > div {
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25)); }
    #about_01 .box_1 .box_right {
      max-width: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      margin-top: 90px; }
      #about_01 .box_1 .box_right > p {
        font-family: 'Lato', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
        max-width: 420px; }
      #about_01 .box_1 .box_right > p > span {
        color: #C2AC80; }
      #about_01 .box_1 .box_right > p:nth-child(2) {
        margin-top: 20px; }
      #about_01 .box_1 .box_right > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px; }
        #about_01 .box_1 .box_right > div:nth-child(3) > a:first-child {
          width: 160px;
          height: 50px;
          background-color: #CFC4AE;
          display: flex;
          color: #614545;
          justify-content: center;
          align-items: center;
          margin-right: 40px;
          margin-top: 10px;
          transition: 0.5s;
          transition-timing-function: ease-in-out;
          text-decoration: none;
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)); }
          #about_01 .box_1 .box_right > div:nth-child(3) > a:first-child:hover {
            transform: scale(1.1); }
          #about_01 .box_1 .box_right > div:nth-child(3) > a:first-child > p {
            background: transparent;
            background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
            background-position: 1% 50%;
            background-size: 300% 300%;
            border: none;
            transition: all 0.4s ease-in-out;
            padding: 18px 34px; }
            #about_01 .box_1 .box_right > div:nth-child(3) > a:first-child > p:hover {
              color: #fff;
              background-position: 100% 50%; }
        #about_01 .box_1 .box_right > div:nth-child(3) > div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 40px;
          margin-top: 10px; }
          #about_01 .box_1 .box_right > div:nth-child(3) > div:last-child > a {
            border-radius: 50px;
            background-color: transparent;
            transition: 0.3s;
            transition-timing-function: ease-in-out; }
            #about_01 .box_1 .box_right > div:nth-child(3) > div:last-child > a:hover {
              transform: scale(1.2);
              opacity: 0.8; }

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1); }
  100% {
    transform: rotate(360deg) scale(1.2); } }

#map {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center; }
  #map .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
  #map .container {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    #map .container .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FAFAFA;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      margin-left: 50px; }
      #map .container .left .left_bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 650px;
        margin-top: 10px; }
        #map .container .left .left_bottom .logo {
          width: 70px;
          height: 70px;
          background-color: violet; }
        #map .container .left .left_bottom > p:nth-child(2) {
          font-family: 'Cinzel', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 35px;
          text-align: center;
          color: #A79559; }
        #map .container .left .left_bottom hr {
          border-top: 1px solid #877249;
          width: 200px; }
        #map .container .left .left_bottom > div:last-child {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          #map .container .left .left_bottom > div:last-child > p:first-child {
            font-family: 'Cinzel', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
            text-align: left; }
          #map .container .left .left_bottom > div:last-child > div {
            width: 50px;
            padding-left: 50px; }
            #map .container .left .left_bottom > div:last-child > div > div {
              width: 6px;
              height: 46px;
              border-left: 1px solid #877249; }
          #map .container .left .left_bottom > div:last-child > p:last-child {
            font-family: 'Cinzel', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
            text-align: right; }
      #map .container .left > hr {
        border-top: 1px solid #877249;
        width: 550px;
        margin-bottom: 25px;
        margin-top: 15px; }
    #map .container .right {
      max-width: 650px;
      background: #F2EEE9;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      margin-left: 50px;
      padding: 35px; }
      #map .container .right > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #map .container .right > div:first-child > p {
          font-family: 'Cinzel', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          color: #55524A; }
        #map .container .right > div:first-child > div:nth-child(2) {
          display: flex;
          justify-content: center;
          margin-top: 30px; }
          #map .container .right > div:first-child > div:nth-child(2) > p {
            max-width: 250px;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            color: #55524A; }
          #map .container .right > div:first-child > div:nth-child(2) > p:first-child {
            margin-right: 16px; }
          #map .container .right > div:first-child > div:nth-child(2) > div {
            width: 16px;
            height: 46px;
            border-left: 1px solid #877249; }

#service {
  width: 100%;
  height: 100vh; }
  #service .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
  #service .container {
    height: 100vh;
    display: flex;
    width: 100%; }
    #service .container .left {
      flex: 1;
      background: linear-gradient(270deg, #564E3D 0%, rgba(255, 255, 255, 0) 100%), #B9AA99;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #service .container .left .box {
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #service .container .left .box .line {
          width: 6px;
          height: 80px;
          border-left: 3px solid #b4a993;
          margin-right: 15%; }
        #service .container .left .box > div:last-child .img-wrapper {
          overflow: hidden; }
          #service .container .left .box > div:last-child .img-wrapper > img {
            transform: scale(1.1);
            filter: brightness(0.8);
            transition: 0.4s;
            transition-timing-function: ease-in-out; }
            #service .container .left .box > div:last-child .img-wrapper > img:hover {
              transform: scale(1);
              filter: brightness(1); }
        #service .container .left .box > div:last-child p {
          font-family: 'Cinzel', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          color: #FFFFFF;
          margin-bottom: 10px; }
    #service .container .large-pic {
      flex: 2;
      background-image: url("../pictures/EveryComponents/Pics_Service/Dinner_big.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
      #service .container .large-pic > p {
        max-width: 300px;
        font-family: 'Cinzel', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 81px;
        color: #FFFFFF;
        margin: 120px; }
      #service .container .large-pic > img {
        position: absolute;
        top: 120px;
        left: 70%;
        width: 200px;
        height: 200px; }

#rooms {
  width: 100%;
  height: auto;
  background-color: #141316;
  display: flex;
  justify-content: center; }
  #rooms .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    height: auto; }
    #rooms .container .head {
      display: flex;
      margin-top: 50px; }
      #rooms .container .head > div {
        margin-bottom: 30px; }
        #rooms .container .head > div > p {
          font-family: 'Cinzel', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 70px;
          line-height: 94px;
          text-align: center;
          color: #E6C869;
          padding-top: 50px; }
        #rooms .container .head > div > div {
          width: 600px;
          height: 2px;
          background-color: #F5D15A; }
    #rooms .container .pic_room {
      display: flex;
      width: 100%; }
      #rooms .container .pic_room .parallax {
        flex: 1;
        margin: 20px 20px; }
        #rooms .container .pic_room .parallax .inside {
          height: 380px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center; }
          #rooms .container .pic_room .parallax .inside > p:first-child {
            font-family: 'Lato', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 24px;
            color: #FFF;
            margin-bottom: 15px; }
          #rooms .container .pic_room .parallax .inside > p:last-child {
            font-family: 'Lato', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            max-width: 420px;
            padding-bottom: 30px; }
