#map {
    width: 100%;
    height: 100vh;
    //background-image: url("../pictures/EveryComponents/Discover/goog.png");
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #FAFAFA;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
            margin-left: 50px;

            .left_bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 650px;
                margin-top: 10px;

                .logo {
                    width: 70px;
                    height: 70px;
                    background-color: violet;
                }

                >p:nth-child(2) {
                    font-family: 'Cinzel', serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 26px;
                    line-height: 35px;
                    text-align: center;
                    color: #A79559;
                }

                hr {
                    border-top: 1px solid #877249;
                    width: 200px;
                }

                >div:last-child {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >p:first-child {
                        font-family: 'Cinzel', serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 13px;
                        text-align: left;
                    }

                    >div {
                        width: 50px;
                        padding-left: 50px;

                        >div {
                            width: 6px;
                            height: 46px;
                            border-left: 1px solid #877249;
                        }
                    }

                    >p:last-child {
                        font-family: 'Cinzel', serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 13px;
                        text-align: right;
                    }

                }

            }

            >hr {
                border-top: 1px solid #877249;
                width: 550px;
                margin-bottom: 25px;
                margin-top: 15px;
            }

        }

        .right {
            max-width: 650px;
            background: #F2EEE9;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
            margin-left: 50px;
            padding: 35px;

            >div:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                >p {
                    font-family: 'Cinzel', serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                    color: #55524A;
                }

                >div:nth-child(2) {
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;

                    >p {
                        max-width: 250px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 14px;
                        color: #55524A;
                    }

                    >p:first-child {
                        margin-right: 16px;
                    }

                    >div {
                        width: 16px;
                        height: 46px;
                        border-left: 1px solid #877249;
                    }
                }
            }
        }

    }
}